body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #48596a;
}

a {
  color: #48596a;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 700;
}

a:hover {
  color: #48596a;
  font-weight: 700;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400 !important;
  color: #61487A !important;
}

.bg-primary {
  background-color: white !important;
  color: #48596a !important;
}

.bg-primary > .container {
  margin-top : 0 !important;
  margin-bottom: 0 !important;
}

section {
  padding: 6rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.75;
  z-index: 990 !important;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #48596a;
  font-family: 'Raleway', sans-serif;
  width:120px;
  height:auto;
  opacity: 1 !important;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #48596a;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #48596a;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
    padding: 0 1em !important;
    opacity: 0.75;
  }
  #mainNav .navbar-brand {
    color: #61487a;
   // filter: invert(100%);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #61487a;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header-new.png");
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead h1 {
  font-size: 5em;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.85rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 992px) {
    header.masthead {
      height: 90vh;
      background-position: 55% bottom;
    }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 9rem;
  }
}

.service-box {
  max-width: 400px;
  padding-bottom: 30px;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Raleway', sans-serif;
  border-radius: 6px !important;
  opacity: 0.8;
  text-transform: none;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  border-radius: 6px !important;
  opacity: 0.8;
  text-transform: none;
  color: #48596a;
  background-color: transparent;
  border: 1px solid #48596a;
  outline: none !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #79839f;
  background-color: transparent !important;
  border: 1px solid #79839f;
}

.btn-primary:active, .btn-primary:focus {
  color: #79839f;
  background-color: transparent !important;
  border: 1px solid #79839f;
}

.icon_img {
  width: 100px;
  height: auto;
  padding-bottom: 24px;
}

.fade_img {
  
  width:auto;
  max-width: 100%;
  height: 300px; 
  margin-bottom:30px;
}

.fade_img--animated {
opacity: 1; 
  transition: .5s ease;
  backface-visibility: hidden;
 animation: blinkit 2.5s infinite; 
}

/* .fade_img:hover {
  opacity: 0.3;
} */

.fade_img_logo {
  opacity: 0.8;
  transition: .5s ease;
}

.fade_img_logo:hover {
  opacity: 1;
}

/* .social-links {
  padding: 10px 0 15px 0;
} */

#contact {
  padding: 0 0 3rem 0;
}

#contact > .container {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@-webkit-keyframes blinkit {
  0%   { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}
@-moz-keyframes blinkit {
  0%   { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}
@-o-keyframes blinkit {
  0%   { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}
@keyframes blinkit {
  0%   { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}

#navbarResponsive {
  padding: 1rem;
}

p {
  color: #16B4BB;
}
#main-heading-splash {
  letter-spacing: 14px;
  text-transform: none !important;
  color: #61487a !important;
}

#main-tag-splash {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  color: #48596A;
  margin-top: -20px;
}

.page-footer {
  background-color: #61487a;
  color: white;
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer-copyright {
  color: white;
}
.footer-copyright > a {
  color: white;
  font-weight: 400;
}

.typeform-share {
  margin-top: 0.5rem;
}

.page-footer__social-icons > a  {
  color: white;
  margin: 0 5px;
  font-size: 14px;
  vertical-align: middle;
}

.page-footer__social-icons {
  padding-bottom: 20px;
  border-bottom: 1px solid #6d5584;
}