
/* Import Fonts */
@font-face {
    font-face: 'DrukText-Medium';
    font-family: 'DrukText-Medium';
    src: url('./fonts/druk/DrukText-Medium.eot?#iefix') format('embedded-opentype'), url('./fonts/druk/DrukText-Medium.otf') format('opentype'), url('./fonts/druk/DrukText-Medium.woff') format('woff'), url('./fonts/druk/DrukText-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #FDFDFD;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.bold {
    font-family: 'DrukText-Medium';
    color: #222222;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    color: #222222;
    margin-top: 0;
}

.center {
    text-align: center;
}
.heading {
    font-size: 5.5em;
    line-height: 1;
    margin: 0px 0 20px 0;
}

.heading--big {
    font-size: 45vw;
    margin: 0;
    padding: 0;
    line-height: normal;
}
.heading--small {
    font-size: 1.8em;
    line-height: 1.3;
}

.heading-chapter {
    font-size: 2em;
    letter-spacing: 5px;
}

.banner {
    font-size: 12em;
    color: #ebeaea;
    line-height: 1;
    text-align: center;
}

.banner > span {
    font-size: 15rem;
    text-decoration: underline;
}
/* CSS Views */

.section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section--inverted {
    background-color: #111111;
}
.section-full {
    max-width: 100%;
}

.split-view {
    display: -ms-flex;
	display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.split-view__left {
    width: 45%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.split-view__right {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.split-view--padding-top {
    margin-top: 100px
}

.img-box {
    height: 80%;
    width: 80%;
    /* box-shadow: 0 10px 20px 0 rgba(34, 34, 34, 0.19), 0 6px 6px 0 rgba(34, 34, 34, 0.23); */
    border-radius: 5px;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-box > img {
    max-width: 100%;
}

.img-box--big {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.img-box--small {
    width: 48%;
}

.img-box--small-left {
    align-self: flex-end;
}

.grid {
    flex-direction: row;
}
.grid > img {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    max-width: 40%;
    margin: 0 2.5% 20px 2.5%;
    height: 60px;
}

.button {
    width: 120px;
    color: #fdfdfd;
    background-color: #222222;
    text-decoration: none;
    font-size: 2em;
    font-family: 'DrukText-Medium';
    text-align: center;
    padding: 15px 0;
    display: block;
    margin: 0 auto;
}
/* Specific Views */
/* .splash {
    background: url('../img/bg.jpg');
} */
.pagination {
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4em;
    z-index: 10;
    list-style: none;
}

.pagination a {
	display:block;
	height:20px;
	margin-bottom:5px;
	color:#222222;
	position:relative;
	padding:4px;
}
.pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}
.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:7px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
    padding-right: 15px;
    font-family: 'DrukText-Medium';
    color: #222222;
}

.pagination a:hover .hover-text {
	opacity: 1;
}
.pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid #d0d0d0;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}

/* Responsive Small Screen */
@media screen and (max-width: 1200px) {
    .section {
        width: 90%;
    }
    .section-full {
        width: 100%;
    }
    .banner {
        font-size: 7em;
    }
 
    .banner > span {
        font-size: 9rem;
    }

    .img-box {
        width: 100%;
    }

    .img-box--small {
        width: 60%;
    }

    .grid {
        flex-direction: column;
    }
    .grid > img {
        display: block;
        max-width: 50%;
        margin: 0 auto 20px auto;
        height: 60px;
    }
}

@media screen and (max-width: 900px) {
    body {
        font-size: 8px;
    }
   .banner {
       font-size: 6em;
   }

   .banner > span {
       font-size: 8rem;
   }
   
   .img-box {
        height: 60%;
    }

    .img-box--big {
        width: 90%;
        height: 90%;
        margin: 0 auto;
    }

   .img-box--small {
        width: 80%;
    }

    .split-view--padding-top {
        margin-top: 50px
    }

    .grid > img {
        display: block;
        max-width: 70%;
        margin: 0 auto 20px auto;
        height: 60px;
    }
    
}

@media screen and (max-width: 550px) {
    /* Banner */
    .banner {
        font-size: 3em;
    }

    .banner > span {
        font-size: 5rem;
    }

    .split-view {
        flex-direction: column;
    }

    .split-view__left,
    .split-view__right {
        width: 100%;
    }

    .split-view__mobile-top {
        order: 1;
        display: block;
        /* margin-top: 0px; */
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .split-view__mobile-bottom {
        order: 2;
    }

    .img-box {
        width: 60%;
        height: auto;
        margin: 0 auto;
        /* min-height: 300px; */
    }
    .img-box--big {
        width: 90%;
        height: 90%;
    }
    
    .pagination {
        right: 10px;
    }
}

@media screen and (max-width: 350px) {
    .banner {
        font-size: 2em;
    }

    .banner > span {
        font-size: 4rem;
    }
}