body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #CF452C;
}

hr.light {
  border-color: #fff;
}

a {
  color: #393e4c;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 700;
}

a:hover {
  color: #393e4c;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400 !important;
  color: #393e4c !important;
}

.bg-primary {
  background-color: white !important;
  color: #393e4c !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.bg-primary > .container {
  margin-top : 0 !important;
  margin-bottom: 0 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 6rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.75;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #CF452C;
  font-family: 'Raleway', sans-serif;
  width:120px;
  height:auto;
  opacity: 1 !important;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #CF452C;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #CF452C;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #CF452C !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
    padding: 0 1em !important;
    opacity: 0.75;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #CF452C;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #CF452C;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #CF452C;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header3.png");
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 4rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.85rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 992px) {
    header.masthead {
      height: 90vh;
      background-position: 70% bottom;
    }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 7rem;
  }
}

.service-box {
  max-width: 400px;
  padding-bottom: 30px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 64, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Raleway', sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }

}

.text-primary {
  color: #CF452C !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Raleway', sans-serif;
  border-radius: 6px !important;
  opacity: 0.8;
  text-transform: none;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  border-radius: 6px !important;
  opacity: 0.8;
  text-transform: none;
  color: #393e4c;
  background-color: transparent;
  border: 1px solid #393e4c;
  outline: none !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #79839f;
  background-color: transparent !important;
  border: 1px solid #79839f;
}

.btn-primary:active, .btn-primary:focus {
  color: #79839f;
  background-color: transparent !important;
  border: 1px solid #79839f;
}

.btn-secondary {
  background-color: white;
  border-color: white;
  color: #CF452C;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-secondary:active, .btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.icon_img {
  width: 100px;
  height: auto;
  padding-bottom: 24px;
}

.profile_img {
  width:200px;
  height:auto;
  border-radius: 100%;
  margin-bottom: 15px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.profile_img:hover {
  opacity: 0.6;
}

.fade_img {
  
  width:auto;
  max-width: 100%;
  height: 300px; 
  margin-bottom:30px;
}

.fade_img--animated {
opacity: 1; 
  transition: .5s ease;
  backface-visibility: hidden;
 animation: blinkit 2.5s infinite; 
}

/* .fade_img:hover {
  opacity: 0.3;
} */

.fade_img_logo {
  opacity: 0.8;
  transition: .5s ease;
}

.fade_img_logo:hover {
  opacity: 1;
}

.profile-img {
  max-width: 90%;
  margin: 0 auto;
  display: block;
  height: 300px;
}

.row-padded {
  padding-top: 50px;
}

.social-links {
  padding: 10px 0 15px 0;
}

.social-links > a {
  margin-right: 10px;
  text-decoration: none;
}

#contact {
  padding: 0 0 3rem 0;
}

#contact > .container {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@-webkit-keyframes blinkit {
  0%   { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}
@-moz-keyframes blinkit {
  0%   { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}
@-o-keyframes blinkit {
  0%   { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}
@keyframes blinkit {
  0%   { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}

#navbarResponsive {
  padding: 1rem;
}

p {
  color: #8c8f96;
}
#main-heading-splash {
  letter-spacing: 14px;
  text-transform: none !important;
  color: white !important;
}

#main-tag-splash {
  font-family: "Raleway", sans-serif;
  font-size: 1.6em;
  color: white;
}

.page-footer {
  background-color: #f8f8f8;
}

@media screen and (max-width: 768px) {
  .sm-text-center {
    text-align: center;
  }
}