/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }


body, html {
  font-family: 'Raleway', sans-serif !important;
}

*, *:before, *:after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; 
  font-family: 'Raleway', sans-serif !important;
}

body {
  background: url("../img/guy-reading-on-hill.svg"), url("../img/sunrise.svg"), url("../img/meteors.svg"), linear-gradient(157.57deg, #1A1763 2.34%, #9A479C 62.28%, #DD7373 88.63%);
  width: 100vw;
  height: 100vh;
  background-position: bottom left, bottom right, top left, center;
  background-size: auto, auto, 93vw, auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  @media screen and (max-width: 768px) {
    body {
      background: url("../img/guy-reading-on-hill-mobile.svg"), url("../img/sunrise-mobile.svg"), url("../img/meteors-mobile.svg"), linear-gradient(157.57deg, #1A1763 2.34%, #9A479C 62.28%, #DD7373 88.63%);
      background-position: bottom left, bottom right, top left, center;
      background-size: 100vw, 56vw, 80vw, auto;
      background-repeat: no-repeat; } }
  @media screen and (min-width: 768px) and (max-width: 960px) {
    body {
      background-size: 150vw, 70vw, 120vw, auto;
      background-position: bottom left 20%, bottom right, top left, center; } }
  @media screen and (min-width: 961px) and (max-width: 1440px) {
    body {
      background-size: 90vw, 40vw, 75vw, auto;
      background-repeat: no-repeat, no-repeat, repeat-x; } }
  body header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 25vh; }
    body header img {
      max-width: 382px;
      min-width: 194px;
      width: 30%; }
  body main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%; }
    body main p {
      font-weight: 400;
      line-height: 1.2em;
      color: #C6C6C6;
      opacity: 0.8;
    }
    .quote {
        font-size: 28px;
        font-style: italic;
        text-align: center;
        padding-bottom: 1em;
    }
    .quote > span {
      font-size: 18px;
    }
    @media screen and (max-width: 500px) {
        .quote {
          font-size: calc(20px + 8 * ((100vw - 500px) / 880));
          padding: 0em 1em 1.5em 1em;
        }
          
        .quote > span {
          font-size: calc(14px + 8 * ((100vw - 500px) / 880)); 
        }
      }
    @media screen and (min-width: 1200px) {
      .quote {
        font-size: 32px;
      } 
    }

    body main #newsletter-signup {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100vw;
      height: 55px;
      max-width: 529px;
      min-width: 285px; }
      body main #newsletter-signup input {
        border: none;
        background-color: #E6E6E6;
        box-shadow: 0px 4px 16px rgba(72, 23, 120, 0.3);
        border-radius: 35px;
        padding: 1em 2em;
        width: 17vw;
        outline: none;
        max-width: 323px;
        min-width: 194px;
        margin-right: 1.5em; }
        body main #newsletter-signup input {
          font-size: 11px; }
          @media screen and (min-width: 320px) {
            body main #newsletter-signup input {
              font-size: calc(11px + 5 * ((100vw - 320px) / 880)); } }
          @media screen and (min-width: 1200px) {
            body main #newsletter-signup input {
              font-size: 16px; } }
      body main #newsletter-signup button {
        border: none;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 0.16em;
        background-color: #C11C82;
        box-shadow: 0px 4px 16px rgba(238, 9, 121, 0.3);
        border-radius: 35px;
        padding: 1em 2em;
        width: 20vw;
        min-width: 101px;
        outline: none;
        cursor: pointer;
        max-width: 190px; }
      body main #newsletter-signup button:hover {
        background-color: #71124d;
      }
        body main #newsletter-signup button {
          font-size: 11px; }
          @media screen and (min-width: 320px) {
            body main #newsletter-signup button {
              font-size: calc(11px + 5 * ((100vw - 320px) / 880)); } }
          @media screen and (min-width: 1200px) {
            body main #newsletter-signup button {
              font-size: 16px; } }
      @media screen and (max-width: 768px) {
        body main #newsletter-signup {
          width: 100vw;
          max-width: 360px;
          height: 36px; }
          body main #newsletter-signup input {
            border-radius: 35px 0 0 35px;
            padding: 0.8em 1.5em;
            margin-right: 0; }
          body main #newsletter-signup button {
            width: 55vw;
            min-width: 101px;
            max-width: 125px;
            border-radius: 0 35px 35px 0;
            padding: 0.8em; } }
      @media screen and (max-width: 375px) {
        body main #newsletter-signup input {
          min-width: 155px;
          margin-left: 2em; }
        body main #newsletter-signup button {
          min-width: 94px;
          margin-right: 2em; } }
    body main #social-media {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      padding: 2em 0;
    }

    body main #social-media a {
      padding: 0 0.5em;
      color: #a9a0b7;
    }